- var item_1_desc = {image:'images/product_1.jpg', brand: 'Prada', condition: 'Отличное', size: 'L', color: 'Черный', price: '9 800 ₽'}
- var item_1_seller = {image:'images/user-2.jpg', name:'Валерка', type: 'Проверенный продавец', icon: 'icon-tick', sold: '14'}
- var item_1_transaction = {date: '23.02.2020', delivery: 'Travel', payment: 'Visa'}
- var item_1_buyer = {image: 'images/user-1.jpg', name: 'Юрец'}
- var item_1 = {desc: item_1_desc, seller: item_1_seller, transaction: item_1_transaction, buyer: item_1_buyer}

- var item_2_desc = {image:'images/product_2.jpg', brand: 'Moncler', condition: 'Хорошее', size: 'XL', color: 'Черный', price: '7 500 ₽'}
- var item_2_seller = {image:'images/user-1.jpg', name:'Юрец', type: 'Проверенный продавец', icon: 'icon-medal', sold: '5'}
- var item_2_transaction = {date: '23.02.2020', delivery: 'Travel', payment: 'Visa'}
- var item_2_buyer = {image: 'images/user-2.jpg', name: 'Валерка'}
- var item_2 = {desc: item_2_desc, seller: item_2_seller, transaction: item_2_transaction, buyer: item_2_buyer}

- var subtotal = (parseFloat(item_1.desc.price.replace(/\s/g, ''))+parseInt(item_2.desc.price.replace(/\s/g, '')))
- var delivery = 200

.cart__content
    h1.cart__title Корзина
    .cart__notification
        .cart__notification-text= 'Вещь зарезервированна еще'
        .cart__notification-timer 17:43
    .cart__body
        .cart__body-left
            +listingItemInline('account__main-sales-item', item_1, true)
            +listingItemInline('account__main-sales-item', item_2, true)
        .cart__body-right
            .cart__total
                .cart__total-left
                    .cart__total-text= 'Всего товаров: '
                    .cart__total-text= 'Доставка: '
                .cart__total-right
                    .cart__total-value= subtotal+' ₽'
                    .cart__total-value= delivery+' ₽'
            .cart__total
                .cart__total-left
                    .cart__total-text= 'Всего: '
                .cart__total-right
                    .cart__total-value= subtotal + delivery + ' ₽'