mixin button(transparent, custom_class, text, disabled)
    .button(
        class= transparent ? 'button--transparent': '',
        class= custom_class,
        class= disabled ? 'disabled': ''
        )= text

mixin input(custom_class, title, placeholder, pass, disabled, error)
    .input(
        class= custom_class,
        class= error ? 'error': '',
        class= pass ? 'input--password': ''
    )
        .input__title= title
        input.input__item(
            placeholder= placeholder,
            disabled= disabled,
            type= pass ? 'password': 'text'
        )
        if(pass)
            .input__icon.icon-eye

mixin checkbox(custom_class, custom_label, id, checked)
    .checkbox(class= custom_class)
        input.checkbox__input(type='checkbox', id= id, hidden, checked= checked)
        label.checkbox__label(
            for= id,
            class= checked ? 'checked': ''
        )= custom_label
            .icon-check

mixin defaultList(custom_class, inverted, listItems)
    .default-list(class= custom_class, class= inverted ? 'default-list--inverted':'')
        h6.default-list__title= listItems.title
        ul
            each item in listItems.list
                li.link.default-list__link
                    a(href= item.url)= item.name

mixin select(custom_class, options)
    .select
        select.select__item
            each option in options
                option.select__option= option
        .select__icon.icon-dd-arrow

mixin radioColor(custom_class, color, name, id, checked)
    .radio-color(class= custom_class)
        input.radio-color__input(type='radio', id= id, name= name, checked= checked)
        label.radio-color__label(
            for= id,
            class='_js-'+name
        )
            .radio-color__round(
                style='background-color: '+color,
                class= checked ? 'checked': '',
                class= color === '#fff' ? 'white-color': ''
                )

mixin radioSize(custom_class, size, name, id, checked)
    .radio-size(class= custom_class)
        input.radio-size__input(type='radio', id= id, name= name, checked= checked)
        label.radio-size__label(
            for= id,
            class='_js-'+name
        )
            .radio-size__item(
                class= checked ? 'checked': ''
            )= size

mixin buttonCustomized(custom_class, icon_class, text, counter)
    .button-customized(class= custom_class)
        .button-customized__icon(class= icon_class)
        .button-customized__text= text
        if counter
            .button-customized__counter= counter

mixin listingItem(custom_class, user_status, status_icon, likes, image, brand, type, size, delivery, price)
    - var size_string = 'Размер: '+size
    - var price_string = price+' ₽'
    .listing-item(class= custom_class)
        .listing-item__header
            .listing-item__status= user_status
                .listing-item__status-icon(class=status_icon)
            .listing-item__likes
                .listing-item__likes-count= likes
                .listing-item__likes-icon.icon-fav
        img.listing-item__image(src=image)
        .listing-item__brand.link= brand
        .listing-item__type.link= type
        .listing-item__desc.listing-item__size= size_string
        .listing-item__desc.listing-item__delivery= delivery
        .listing-item__desc.listing-item__price= price_string

mixin customNavigation(custom_class, nav_items, vertical)
    .custom-navigation(class= custom_class, class= vertical ? 'custom-navigation--vertical': '')
        each value, index in nav_items
            .custom-navigation__item(class= index === 0 ? 'active': '')
                .custom-navigation__count= index+1
                .custom-navigation__name= value

mixin tooltip(custom_class, text)
    .tooltip(class= custom_class)
        .tooltip__item= text

mixin userAvatar(custom_class, image)
    .user-avatar(class= custom_class)
        img.user-avatar__img(src=image)
        .user-avatar__overlay
        .user-avatar__btn Изменить

mixin promoCircle(custom_class,content, link, img)
    .promo-circle(class= custom_class, class= img ? 'promo-circle--image': '')
        if (img)
            img.promo-circle__content(src= content)
        else
            .promo-circle__content= content
        a.promo-circle__link(href= link ? link:'#')