mixin button(transparent, custom_class, text, disabled)
    .button(
        class= transparent ? 'button--transparent': '',
        class= custom_class,
        class= disabled ? 'disabled': ''
        )= text

mixin input(custom_class, title, placeholder, pass, disabled, error)
    .input(
        class= custom_class,
        class= error ? 'error': '',
        class= pass ? 'input--password': ''
    )
        .input__title= title
        input.input__item(
            placeholder= placeholder,
            disabled= disabled,
            type= pass ? 'password': 'text'
        )
        if(pass)
            .input__icon.icon-eye

mixin checkbox(custom_class, custom_label, id, checked)
    .checkbox(class= custom_class)
        input.checkbox__input(type='checkbox', id= id, hidden, checked= checked)
        label.checkbox__label(
            for= id,
            class= checked ? 'checked': ''
        )= custom_label
            .icon-check

mixin defaultList(custom_class, inverted, listItems)
    .default-list(class= custom_class, class= inverted ? 'default-list--inverted':'')
        h6.default-list__title= listItems.title
        ul
            each item in listItems.list
                li.link.default-list__link
                    a(href= item.url)= item.name

mixin select(custom_class, options)
    .select
        select.select__item
            each option in options
                option.select__option= option
        .select__icon.icon-dd-arrow

mixin radioColor(custom_class, color, name, id, checked)
    .radio-color(class= custom_class)
        input.radio-color__input(type='radio', id= id, name= name, checked= checked)
        label.radio-color__label(
            for= id,
            class='_js-'+name
        )
            .radio-color__round(
                style='background-color: '+color,
                class= checked ? 'checked': '',
                class= color === '#fff' ? 'white-color': ''
                )

mixin radioSize(custom_class, size, name, id, checked)
    .radio-size(class= custom_class)
        input.radio-size__input(type='radio', id= id, name= name, checked= checked)
        label.radio-size__label(
            for= id,
            class='_js-'+name
        )
            .radio-size__item(
                class= checked ? 'checked': ''
            )= size

mixin buttonCustomized(custom_class, icon_class, text, counter)
    .button-customized(class= custom_class)
        .button-customized__icon(class= icon_class)
        .button-customized__text= text
        if counter
            .button-customized__counter= counter